@page "/html_editor"

<script>
    $(document).ready(function () {
        $('#summernote').summernote({

            height: 300,
        });
    });
</script>

<PageTitle>HTML Editor</PageTitle>

<h1>HTML Editor</h1>

<div id="summernote"></div>

@code {
}
